<h1 class='d-inline-block'>News log History Tracker</h1>

<div class='table-responsive'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>User</th>
        <th>Modified</th>
      </tr>
    </thead>

    <tbody>
      <% @histories.each do |log_history| %>
        <tr>
          <td><%= log_history.modifier.email %></td>
          <td>

            <% if log_history.version != 1 %>
              <% log_history.format_existing_track.each do |key, values| %>
                <p> Changed <%= "#{key}" %> from <strong><%= "#{values[:original]}".capitalize %></strong> to <strong> <%= "#{values[:changed]}".capitalize %></strong> <p>
              <% end %>
            <% else %>
              <p><strong> Created NewsLog </strong><p>
              <% log_history.format_new_track.each do |key, value| %>
                <p> <%= "#{key}: "%> <strong><%= "#{value[:created]}".capitalize %></strong></p>
              <% end %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <%= link_to 'Back', news_logs_path, class: "btn btn-dark"  %>
</div>
<br>

<%= paginate @histories %>