<% @title = "News Release History for #{@news_log.news_release_number} - News Release Log - United States Department of Labor" %>
<h1 class='h3 d-inline-block text-muted'>News Release History for <%= @news_log.news_release_number %></h1>

<div class='table-responsive'>
  <table class='table'>
    <thead>
      <tr>
        <th>User</th>
        <th>Modified</th>
        <th>Updated at </th>
      </tr>
    </thead>

    <tbody>
      <% @histories.each do |log_history| %>
        <tr>
          <%if log_history.modifier.present? %>
          <td><%= log_history.modifier.email %></td>
          <%elsif @news_log.imported_from_old_system %>
          <td class="mw-25">SYSTEM(imported from old system)</td>
          <%end%>
          <td>
            <% if log_history.version != 1 %>
              <% log_history.format_existing_track.each do |key, values| %>
                <% if key.eql? "Document" %>
                  <p> Updated document to <strong><%= "#{values[:changed]}" %></strong></p>
                <% else %>
                  <p> Changed <%= "#{key}" %> from <strong><%= "#{values[:original]}".capitalize %></strong> to <strong> <%= "#{values[:changed]}".capitalize %></strong> <p>
                <% end %>
              <% end %>
            <% else %>
              <p><strong> Created News Release </strong><p>
              <% log_history.format_new_track.each do |key, value| %>
                <p> <%= "#{key}: "%> <strong><%= "#{value[:created]}" %></strong></p>
              <% end %>
            <% end %>
          </td>
          <td><%= @news_log.updated_at.localtime %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <%= link_to 'Back', news_logs_path, class: "btn btn-dark"  %>
</div>
<br>

<%= paginate @histories %>
