<div class="container-fluid">
  <h1>Advanced Search</h1>
  <p>To search DOL News Release Log, enter the appropriate release number or title, select the appropriate agency and region and then click the search button.</p>
  <%= form_tag advsearch_url, method: :post, class: 'mt-2 mt-md-0' do %>
    
    <div class='form-group form-inline'>
      <div class='form-group'>
        <label for='search[title]' class='mr-2'>News Release Title:</label>
        <%= text_field_tag "search[title]", params[:title] ,placeholder: 'Enter Title', size: 30, class: 'form-control-sm mr-1 input-margin'%>
      </div>
    </div>
  
    <div class='form-group row'>
      <div class="col-md-6">
        <label for='search' class='mr-2'>Release Date From : </label>
        <%= text_field_tag "search[release_date][start_date]", params[:start_date], placeholder: 'Enter start Date', class: 'datepicker form-control-sm mr-2 input-margin', autocomplete: 'off'%>
      </div>
      <div class='col-md-6'>
        <label for='search' class='mr-2'>Release Date To:</label>
        <%= text_field_tag "search[release_date][end_date]", params[:end_date], placeholder: 'Enter end Date', class: 'datepicker form-control-sm input-margin', autocomplete: 'off'%>
      </div>
    </div>

    <div class='form-group row'>
      <div class='col-md-6'>
        <label for='search' class='mr-2'>Received Date From:</label>
        <%= text_field_tag "search[received_date][start_date]", params[:start_date], placeholder: 'Enter start Date', class: 'datepicker form-control-sm mr-2', autocomplete: 'off'%>
      </div>
      <div class='col-md-6'>
        <label for='search' class='mr-2'>Received Date To:</label>
        <%= text_field_tag "search[received_date][end_date]", params[:end_date], placeholder: 'Enter end Date', class: 'datepicker form-control-sm', autocomplete: 'off'%>
      </div>
    </div>

    <div class='form-group row'>
      <div class='col-md-6'>
        <label for='Filter by Agency' class='mr-2'>Select Agency:</label>
        <%= select_tag "search[agency]", options_from_collection_for_select(Agency.all, 'code','code'), include_blank: true, class: 'form-control-md drop-down-margin'%>
      </div>
      <div class='col-md-6'>
        <label for='Filter by Region' class='mr-2'>Select Region:</label>
        <%= select_tag "search[region]", options_from_collection_for_select(Region.all, 'name', 'name'), include_blank: true, class: 'form-control-md drop-down-margin'%>
      </div>
    </div>

    <div class='form-group form-inline'>
      <% NewsLog::STATES.each do |state| %>
        <%= check_box_tag "search[aasm_state][]", state, checked: false, class: 'form-control-sm pl-2' -%>
        <label for='aasm_state' class='mr-2 aasm-state-font'><%= state -%></label>
      <% end %>
      <br/>
    </div>

    <div class="form-group">
      <div>
        <%= submit_tag 'Search' ,class: 'btn btn-dark btn-sm mr-2 primary-action-button' %>
        <%= submit_tag 'Download', formaction: "/advsearch.csv" , class: 'btn btn-dark btn-sm mr-2 primary-action-button' %>
      </div>
    </div>
  <% end %>
</div>
