<h1> Search Results </h1>
<% if @sorted_results.count == 0 %>
  <p> Sorry, no results found </p>
<% end %>
<div class='table-responsive'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th class='font-weight-bold w-25'> News Release Number </th>
        <th class='font-weight-bold w-25'> News Release Title </th>
        <th class='font-weight-bold w-25'> Agency </th>
        <th class='font-weight-bold w-25'> Region </th>
      </tr>
    </thead>
    <tbody>
      <% @sorted_results.each do |result| %>
        <tr>
          <td><%= link_to "#{result.news_release_number}", news_log_path(result) %></td>
          <td><%= link_to "#{result.title}", news_log_path(result) %></td>
          <td><%= link_to "#{result.agency.name}", news_log_path(result) %></td>
          <td><%= link_to "#{result.region.name}", news_log_path(result) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @sorted_results %>
