<h1> Search Results </h1>
<p> Total results found <%=@results.count%><p>
<div>
  <span> To further narrow down your results you can try the advance search feature </span>
  <%= link_to 'Advance Search', advsearch_url , class: 'btn btn-dark mb-2 add-button' %>
</div>

<div class='table-responsive'>
  <table id="searchresult-table-sortable" class='table table-striped'>
    <thead>
      <tr class="mw-100">
        <th class='font-weight-bold' scope="col"> Release # <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold' scope="col"> Release Title <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold' scope="col"> Agency <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold' scope="col"> Region <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold' scope="col"> State <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold' scope="col"> Release Date <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold' scope="col"> Received Date <i class="fa fa-fw fa-sort"></th>
      </tr>
    </thead>
    <tbody>
      <% if @page_results.count == 0 %>
        <p> Sorry, no results found </p>
      <% end %>
      <% @page_results.each do |result| %>
        <tr>
          <td ><%= link_to "#{result.news_release_number}", news_log_path(result) %></td>
          <td class='w-25'><%= link_to "#{result.title}", news_log_path(result) %></td>
          <td ><%= "#{result.agency.try(:name)}"%></td>
          <td ><%= "#{result.region.try(:name)}"%></td>
          <td ><%= "#{result.aasm_state}"%></td>
          <td ><%= "#{result.release_date}"%></td>
          <td ><%= "#{result.received_date}"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'Back', url_for(:back), class: 'btn btn-dark btn-sm primary-action-button' %>
<%= paginate @page_results if @page_results.present?%>
