<h1> Search Results </h1>
<% if @page_results.count == 0 %>
  <p> Sorry, no results found </p>
<% end %>
<div class='table-responsive'>
  <table id="searchresult-table-sortable" class='table table-striped'>
    <thead>
      <tr>
        <th class='font-weight-bold w-15'> News Release Number <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold w-15'> News Release Title <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold w-10'> Agency <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold w-15'> Region <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold w-15'> State <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold w-15'> Release Date <i class="fa fa-fw fa-sort"></th>
        <th class='font-weight-bold w-15'> Received Date <i class="fa fa-fw fa-sort"></th>
      </tr>
    </thead>
    <tbody>
      <% @page_results.each do |result| %>
        <tr>
          <td><%= link_to "#{result.news_release_number}", news_log_path(result) %></td>
          <td><%= link_to "#{result.title}", news_log_path(result) %></td>
          <td><%= "#{result.agency.name}"%></td>
          <td><%= "#{result.region.name}"%></td>
          <td><%= "#{result.aasm_state}"%></td>
          <td><%= "#{result.release_date}"%></td>
          <td><%= "#{result.received_date}"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'Back', "/advsearch", class: 'btn btn-dark btn-sm custom-button' %>
<%= paginate @page_results if @page_results.present?%>
