<h1>Distributionlists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Status</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distributionlists.each do |distributionlist| %>
      <tr>
        <td><%= distributionlist.name %>
        <td><%= distributionlist.abbr %>
        <td><%= distributionlist.status %>
        <td><%= distributionlist.description %>
        <td><%= link_to 'Show', distributionlist %></td>
        <td><%= link_to 'Edit', edit_distributionlist_path(distributionlist) %></td>
        <td><%= link_to 'Destroy', distributionlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distributionlist', new_distributionlist_path %>
<%= paginate @distributionlists %>