<h1 class='d-inline-block'>Distributionlists</h1>
<%= link_to 'Add Distributionlist', new_distributionlist_path, class: 'btn btn-dark float-right mt-1 add-button' %>

<table class='table table-striped table-responsive'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Status</th>
      <th>Description</th>
      <th colspan='3' class='text-center'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @distributionlists.each do |distributionlist| %>
      <tr>
        <td class='font-weight-bold'><%= distributionlist.name %>
        <td><%= distributionlist.abbr %>
        <td><%= distributionlist.status %>
        <td><%= distributionlist.description %>
        <td><%= link_to 'Show', distributionlist, class: 'btn btn-dark btn-sm custom-button' %></td>
        <td><%= link_to 'Edit', edit_distributionlist_path(distributionlist), class: 'btn btn-dark btn-sm custom-button' %></td>
        <td><%= link_to 'Delete', distributionlist, method: :delete, class: 'btn btn-danger btn-sm custom-button', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @distributionlists %>