<h1> Distribution List </h1>

<p>
  <strong>Distribution Name:</strong>
  <%= @distributionlist.name %></p>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @distributionlist.abbr %>
</p>

<p>
  <strong>Status:</strong>
  <%= @distributionlist.status %>
</p>

<p>
  <strong>Description</strong>
  <%= @distributionlist.description %>
</p>

<%= link_to 'Back', distributionlists_path, class: 'btn btn-dark btn-sm primary-action-button' %>
<%= link_to 'Edit', edit_distributionlist_path(@distributionlist), class: 'btn btn-dark btn-sm primary-action-button' %>
