<div class="forgot-password">
	<h2>Forgot your password?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field form-group">
	    <%= f.label :email %><br />
	    <span class="email-input"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></span>
	  </div>

	  <div class="actions">
	  	<div class="reset-button"><%= f.submit "Reset password" %></div>
	  </div>
	<% end %>
</div>

