<h1 class='d-inline-block'>Manage Agency List</h1>
<% if current_user.role.admin? %>
  <%= link_to 'Add New Agency', new_agency_path, class: 'btn btn-dark float-right  mt-1 add-button' %>
<% end %>

<div class='table-responsive'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th class='w-50'>Agency Name</th>
        <th class='w-50'>Agency Code</th>
        <th colspan='2' class='text-center'>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @agencies.each do |agency| %>
        <tr>
          <td class='font-weight-bold'><%= link_to "#{agency.name}", agency %></td>
          <td class='font-weight-bold'><%= agency.code %></td>
          <td class='text-center ml-2'>
            <% if policy(agency).update? %>
              <%= link_to edit_agency_path(agency) do %>
                <i class='far fa-edit fa-2x' title='Edit Agency' alt='Edit Agency'></i>
              <% end %>
            <% else %>
              <i class='far fa-edit fa-2x custom-color-edit' title='Action not permitted' alt='Action Not Permitted'></i>
            <% end %>
          </td>
          <td class='text-center mr-2'>
            <% if policy(agency).destroy? %>
              <%= link_to agency, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class='far fa-trash-alt fa-2x' title='Delete Agency' alt='Delete Agency'></i>
              <% end %>
            <% else %>
              <i class='far fa-trash-alt fa-2x custom-color-trash' title='Action not permitted' alt='Action Not Permitted'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= paginate @agencies %>
