<h1>Agency</h1>
<p>
  <strong>Agency Name:</strong>
  <%= @agency.name %>
</p>

<p>
  <strong>Agency Code:</strong>
  <%= @agency.code %>
</p>

<p>
  <strong>Frequently Used Code:</strong>
  <%= @agency.frequently_used %>
</p>

<%= link_to 'Back', agencies_path, class: 'btn btn-dark btn-sm custom-button' %>
<%= link_to 'Edit', edit_agency_path(@agency), class: 'btn btn-dark btn-sm custom-button' %>
