<%= semantic_form_for @user do |f| %>
<div class="btn-group-vertical pull-right">
  <%= link_to "Change password", admin_edit_user_password_path(@user),:class => "btn btn-dark" %>
</div>

  <%= f.inputs class: "mt-4" do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :role, as: :radio %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button , :input_html => {:class => "btn btn-primary"}%>
  <% end %>
<% end %>
