<h6><span style="color: #e31c3d;">*</span> Indicates a required field</h6>
<%= semantic_form_for @user, :html => { class: "m-5 newslog-form" } do |f| %>
  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role, as: :radio %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button , :input_html => {:class => "btn btn-primary"}%>
  <% end %>
<% end %>
