<h1 class='d-inline-block'>Users</h1>
<%= link_to 'Create User', new_user_path, class: 'btn btn-dark float-right mt-1 add-button' %>

<div class='table-responsive'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Last Signin</th>
        <th>Role</th>
        <th colspan='2' class='text-center'>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.email}", user %></td>
        <td><%= user.first_name.capitalize %></td>
        <td><%= user.last_name.capitalize %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.role.capitalize %></td>
        <td class='text-center'>
          <% if policy(user).update? %>
            <%= link_to edit_user_path(user) do %>
              <i class='fa fa-edit fa-2x' title='Edit Agency' alt='Edit Agency'></i>
            <% end %>
          <% end %>
        </td>
        <td class='text-center'>
          <% if policy(user).destroy? %>
            <%= link_to user_path(user), method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class='fa fa-trash fa-2x' title='Delete'></i>
            <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= paginate @users %>
