<h1 class='d-inline-block'>Manage Region List</h1>
<% if current_user.role.admin? %>
  <%= link_to 'Add New Region', new_region_path, class: 'btn btn-dark float-right mt-1 add-button' %>
<% end %>

<div class='table-responsive'>
  <table id="region-table-sortable" class='table table-striped'>
    <thead>
      <tr>
        <th class="w-50">Region Name <i class="fa fa-fw fa-sort"></th>
        <th class="w-50">Region Code <i class="fa fa-fw fa-sort"></th>
        <th colspan='2' class='text-center'>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @regions.each do |region| %>
        <tr>
          <td class='font-weight-bold'%><%= link_to "#{region.name}", region %></td>
          <td class='font-weight-bold'><%= region.code %></td>
          <td class='text-center ml-2'>
            <% if policy(region).update? %>
              <%= link_to edit_region_path(region) do %>
                <i class='far fa-edit fa-2x' title='Edit Region' alt='Edit Region'></i>
              <% end %>
            <% else %>
              <i class='far fa-edit fa-2x edit-button-disabled' title='Action not permitted' alt='Action not permitted'></i>
            <% end %>
          </td>
          <td class='text-center mr-2'>
            <% if policy(region).destroy? %>
              <%= link_to region, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class='far fa-trash-alt fa-2x' title='Delete Region' alt='Delete Region'></i>
              <% end %>
            <% else %>
              <i class='far fa-trash-alt fa-2x trash-button-disabled' title='Action not permitted' alt='Action Not Permitted'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= paginate @regions %>
